body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/** Header styles **/
.header {
  background-image: url(https://lh3.googleusercontent.com/C_mgSQt9f9h5z95gEpfrJvVJxSAGe123gzTAWoU9rE9kEAvkZdYnyAG1ly0E6EzLwsB4eETJRJgK02yb9CANfVnZuj4bET34sroRPfH3f1yZfgWM_GudubrLTKZSg3PLP73hVzR3icQF-9re8qITs9zC4mkAnnqtx6ERBiziGngkVVHcQ3nMR5CG1Gerd7Yl9L87jW90wX1MqWgEVHT7WSqUC1g59GxgxeMwkPjnYPBJKGT1O7eq8z_C24hZUzE4YXgeBO3R_pYlwbbP_yaCYD_-LaL7KEO_mpLrqA-hb09yog1OMXTCrQJtsll8bqMRj4hXqrdPxKmcVHmDMIp6567-1vMzTJmdE9Qq-HcduKFuCrA7ruyPxEppif23V-ZwUQ0QEPVWbU5GledZPXxKgh5g9-G0WkfW-3AzUr6woPECg1P0bUnNI1HrYJ8ll28jSCPhYxXC8CikgGqfw99538fi_ooRXI5Rv3VsCyHw48XiiGDXhBP2he1D_d7M3yrYDU4EPOyNnHxvmA3bS-szaxjOQn6V6WACxoVgHKtUQflxOR0dwHJA5hN93ZMmxnXx4Zk5Gzm2Y3-6PGarMj6cWl4McfXePjYB40tqOek=w1533-h921-no);
  height: 400px;
  background-position: center center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: #938E89;
  text-align: center;
  line-height: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
}

/* Personal Information */
.green {
  background-color: rgb(58, 132, 198);
}

.light {
  background-color: rgb(4, 122, 86);
}

.city {
  background-color: rgb(241, 109, 49);
}

.italian {
  background-color: rgb(215, 78, 63);
}

/* Typography */
h1 {
  color: #FFD678;
font-family: 'Julius Sans One', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;5A1
  position: relative;
  text-align: right;
  top: 80%;
}

h2 {
  color: #FFC6B8;
font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #857C81;
font-family: 'Alegreya Sans SC', serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  color: #B7D7D9;
font-family: 'Alegreya Sans SC', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #B09994;
  line-height: 32px;
font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #E5EBE9;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

footer p {
  text-align: center;
  font-size: small;
}
