body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/** Header styles **/
.header {
  background-image: url(https://lh3.googleusercontent.com/3IZ-Bcfnt0GX_mhabtMMj9eH_zBlgZvK7U73Lh9AJOtLuUZi7ARpJnUYk9Ax4gpfSoElH2Wvfl80gAyRuAvrfh5OJmL65-Eo169FgAVqpVvmT3L1F-bhblGsDulxKWv0lb8ziOfPUYi8DIJHVgbfE-s2AvLQRHh8q0Q77kYz5k6nuntGdmctdVKU6dXrXR6tc_Kd71eGGqOta1kWrUUlJgK92Qdm3s9PrAPSTVIxIR8K-PTIB9D8D9qsvHtuhNGuxg-UmtoR4X3y15iEYjISsohqZgHk1hGxp7ldMMo2yUrsmh5DARLu9JQ_XiLpU-q2ogrTQXBHL67e2J9Tb7MsQZ_h-Z2gV3ixh2Z_AWqOaU62MFSAm-7ssMQgVLczL0UsYvi2aVOZ0eBc-2IxvGuRnfaUfB3EcO6BRgFQZ1q59HDAwPYP_9_DFG1lDxKYHdXgRi_icY1TurVljTLIvaf7L1ucnw7tLwa5bj2VXqCSjh9vRn2HLVAuw-Ub20VV7QM-8K49OMqIzzMrIUarsJG9Dexjwj-ljscOXJdmCAIybZVX5rTzb1Fu62s73e1jFwqz7kttz7WFx7zaIajyWaS04kkju3PMov0H0K3jhG0=w1632-h981-no);
  height: 400px;
  background-position: center center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: #938E89;
  text-align: center;
  line-height: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
}

/* Personal Information */
.green {
  background-color: rgb(58, 132, 198);
}

.light {
  background-color: rgb(4, 122, 86);
}

.city {
  background-color: rgb(241, 109, 49);
}

.italian {
  background-color: rgb(215, 78, 63);
}

/* Typography */
h1 {
  color: #FFD678;
font-family: 'Julius Sans One', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;5A1
  position: relative;
  text-align: right;
  top: 80%;
}

h2 {
  color: #FFC6B8;
font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #857C81;
font-family: 'Alegreya Sans SC', serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  color: #B7D7D9;
font-family: 'Alegreya Sans SC', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #B09994;
  line-height: 32px;
font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #ffbf84;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

footer p {
  text-align: center;
  font-size: small;
}
